@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 249, 250, 251; /* Alabaster */
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(249, 250, 251);
}

/* Optional: Smooth scrolling for the whole html */
html {
  scroll-behavior: smooth;
}